@import "tailwindcss";

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);
  --color-background: oklch(0.4827 0.1925 259.57);
  --color-accent: oklch(0.9702 0 0);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-sky-800 rounded-xl
}

.task> ::-webkit-scrollbar-thumb {
  @apply bg-sky-600 rounded-xl
}